<mat-toolbar>
    <mat-toolbar-row>
        <img src="../../../assets/img/pokeball-logo.png" alt="Icono-poke"  width="40" height="40" (click)="home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/Producto">Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Persona">Persona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Calculadora">Calculadora</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Noticias">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Cedulas">Cedula</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Pokemon</a>
        </li>
      </ul>
    </div>
</nav> 

    </mat-toolbar-row>
</mat-toolbar>
