/* You can add global styles to this file, and also import other style files */
body{
    background: url(../src/assets/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
h1{
    font-family: 'Slackey', cursive;
}
input,span,table{
    font-family: 'Rubik', sans-serif !important;
}
.borde-top-left{
    border-top-left-radius: 10px;
}
.borde-top-right{
    border-top-right-radius: 10px;
}
.borde-foot{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
input{
    opacity: .6;
}
span{
    opacity: .9;
    font-weight:bold !important;
}
.fondo-inputs{
    background: #212529;
    
  
    border: 2px solid black;
    border-radius: 10px;
}

.container{
    padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.644);
  border-radius: 15px;
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
